.secondheader{
    padding: 65px 10px;
    justify-content: space-around
}
.gdsclogo{
    z-index:2;
    position:absolute;
    top:34%;
    left:40%;
    height:275px;
}
.secondheader>img{
    height:428px;
}
.secondheader>.text{
    padding: 24px;
    padding-top: 32px;
    width: 40%;
}
.secondheader>.text>img{
    height: 78px;
}
.secondheader>.text>h4{
    font-family: 'Nunito',sans-serif;
    color: #8c8c8c;
    font-size: 18px;
    margin: 24px 0;
    margin-bottom: 50px;
}
.secondheader>.text>h4>.bold, .whydsc>.text>h6>.bold{
    color: black;
    font-weight: 600;
}
.secondheader>.text>a{
    color: white;
    background: #139d58;
    padding: 8px 16px;
    font-size: 17px;
    border-radius: 11px;
    text-decoration: none !important;

}
.secondheader>.text>a:hover{
box-shadow:0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
}
.white-overlay{
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 90px;
    position: absolute;
    left: 0;
    background: rgba(233,233,233,0.7);
}
.upcomingevents>h3{
    padding: 0 30px;
}
.domains>.row>.col-md-4{
    height: 187px;
    width: 195px;
    align-items: center;
    text-align: center;
    padding: 0;
}
.domains>.row>.col-md-4>div{
    padding: 5px;
    box-shadow: 0.77px 0.64px 5px 0px rgb(199 199 199 / 69%);
    border-radius: 15px;
    width: 175px;
    height: 145px;
    cursor: pointer;
}
.domains>.row>.col-md-4>div:hover{
    transform: scale(1.05);
    transition: 0.3s ease;
}
.domains>.row>.col-md-4>div>img{
    height: 75px;
    margin-bottom: 13px;
    margin-top: 11px;
}
.domains>.row>.col-md-4>div>h6{
    font-family: 'Nunito',sans-serif;
    font-weight: 600;
}
.whydsc{
    justify-content: space-around;
    background: rgb(250,250,250);
    padding: 70px 0;
}
.whydsc>.text{
    width: 40%;
}
.whydsc>.text>h2{
    color: rgb(117,117,117);
    font-family: 'Nunito',sans-serif;
    font-size: 41px;
    margin-bottom: 14px;
}
.whydsc>.text>h6{
    font-family: 'Nunito',sans-serif;
    color: #8c8c8c;
    font-size: 20px;
}
.joinus{
    padding: 70px 0;
    justify-content: space-around;
}
.joinus>.text{
    width: 38%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    padding-top: 55px;
}
.joinus>.text>h3{
    font-size: 42px;
    margin-bottom: 16px;
}
.joinus>.text>h6{
    color: #8c8c8c;
    font-size: 20px;
    margin-bottom: 50px;
}
.joinus>.text>.social-handles>.discord, .joinus>.text>.social-handles>.wp{
    padding: 9px 56px;
    border-radius: 8px;
    font-size: 16px;
    text-decoration: none !important;
}
.joinus>.text>.social-handles>.discord{
    color: #4385F4;
    border: 1px solid #4385F4;
    background: #4385f426;
    margin-right: 10px;
}
.joinus>.text>.social-handles>.discord:hover{
    background: #4385F4;
    color: white;
    transition: 0.3s;
    box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
}

.joinus>.text>.social-handles>.wp{
    color: #139D58;
    border: 1px solid #139D58;
    background: #139d5821;
    margin-left: 10px;
}
.joinus>.text>.social-handles>.wp:hover{
    background-color: #139D58;
    color: white;
    transition: 0.3s;
    box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
}
.upcomingevents{
    font-family: 'Nunito', sans-serif;
    padding: 60px 20px;
    background: rgb(250,250,250);
}
.upcomingevents>h3{
    font-size: 37px;
    margin-bottom: 50px;
}
.event-cards>.row>.col-md-3>div{
    box-shadow: 0.77px 0.64px 5px 0px rgb(199 199 199 / 69%);
    border-radius: 11px;
    background: white;
    padding: 16px 0;
    text-decoration: none !important;
    cursor: pointer;
    width: 270px;
}
.event-cards>.row>.col-md-3>.buzzquiz:hover{
    background: rgba(67,133,244,0.1);
    box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
    transition: 0.3s;
    transform: scale(1.05);
}
.event-cards>.row>.col-md-3>.covihack:hover{
    box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
    background:rgba(234,68,53,0.1);
    transition: 0.3s;
    transform: scale(1.05);
}
.event-cards>.row>.col-md-3>.uiux:hover{
    background: rgba(251,189,3,0.1);
    transition: 0.3s;
    transform: scale(1.05);
    box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
}
.event-cards>.row>.col-md-3>.uiux:hover h3{
    color: #FBBD03 !important;
}
.event-cards>.row>.col-md-3>.buzzquiz:hover h3{
    color: #4385F4 !important;
    }
    .event-cards>.row>.col-md-3>.appdev:hover{
        background: rgba(19,157,88,0.1);
        transition: 0.3s;
        transform: scale(1.05);
        box-shadow: 0.77px 0.64px 5px 0px rgba(199,199,199,0.69);
    }
    .event-cards>.row>.col-md-3>.appdev:hover h3{
        color: #139D58 !important;
    }
.event-cards>.row>.col-md-3>.covihack:hover h3{
color: #EA4435 !important;
}


.event-cards>.row>.col-md-3>div>h3{
    color: rgb(117,117,117);
    margin-bottom: 73px;
    padding: 0 12px;
    font-size: 32px;
    margin-top: 10px;
}
.event-cards>.row>.col-md-3>div>.duration{
    padding: 0 12px;
    margin-bottom: 20px;
}
.event-cards>.row>.col-md-3>div>.duration>h6{
    color: rgb(117,117,117);
    font-size: 18px;
}
.event-cards>.row>.col-md-3>div>.duration>h6>.title{
    font-weight: 600;
}
.event-cards>.row>.col-md-3>div>h5{
    color: #fbbd03;
    padding: 0 12px;
    font-size: 20px;
    font-weight: 500;
}
.event-cards{
    margin-bottom: 60px;
}
.event-cards>.row{
    padding: 0 30px;
}

@media only screen and (max-width: 600px) {
    .gdsclogo{
        height: 100px;
        top: 18%;
        left: 33%;
    }
    .secondheader{
        flex-direction: column;
    }
    .secondheader>img{
        height: auto;
    }
    .secondheader>.text{
        width: 100%;
    }
    .secondheader>.text>img{
        height: 55px;
    }
    .whydsc{
        flex-direction: column;
    }
    .whydsc>.text{
        width: 100%;
        padding: 0 31px;
        margin-bottom: 60px;
    }
    .domains>.row{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width: 100%;
        margin: 0;
    }
    .domains>.row>.col-md-4{
        align-items: center;
        text-align: center;
    }
    .joinus{
        padding: 70px 0;
        flex-direction: column;
    }
    .joinus>.text{
        width: 100%;
        padding: 31px;
    }
    .social-handles{
        display: flex;
        flex-direction: column;
        justify-content: centers;
    }
    .joinus>.text>.social-handles>.discord{
        margin: 0;
        margin-bottom: 10px;
    }
    .joinus>.text>.social-handles>.wp{
        margin: 0;
        margin-bottom: 10px;
    }
    .upcomingevents>h3{
        text-align: center;
        padding: 0;
    }
    .event-cards>.row>.col-md-3{
        margin-bottom: 40px;
    }
    
}