*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card{
    width: 22vw;
    margin: 0.6vw;
    cursor: pointer;
}

.card-img-top{
    width: 23vw;
    height: 10vw;
    transition: 0.3s;
}

.card-img-top:hover{
    transform: scale(1.4);
}

.overflow{
    overflow: hidden;
}

@media only screen and (max-width: 1030px){
    .card{
        width: 30.5vw;
    }

    .card-img-top{
        width: 31vw;
        height: 16vh;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 750px){
    .card{
        width: 46.5vw;
    }

    .card-img-top{
        width: 47vw;
        height: 24vw;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 420px){
    .card{
        width: 89.5vw;
    }

    .card-img-top{
        width: 90vw;
        height: 42vw;
        transition: 0.3s;
    }
}