*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.card{
    width: 23vw;
    margin: 0.4vw;
}

.card-img-top{
    width: 23vw;
    height: 20vh;
    transition: 0.3s;
}

.card-img-top:hover{
    transform: scale(1.4);
}

.overflow{
    overflow: hidden;
}

@media only screen and (max-width: 1030px){
    .card{
        width: 31vw;
    }

    .card-img-top{
        width: 31vw;
        height: 20vh;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 750px){
    .card{
        width: 47vw;
    }

    .card-img-top{
        width: 47vw;
        height: 20vh;
        transition: 0.3s;
    }
}

@media only screen and (max-width: 420px){
    .card{
        width: 90vw;
    }

    .card-img-top{
        width: 90vw;
        height: 25vh;
        transition: 0.3s;
    }
}