#prizes .prize-area{
    padding: 50px 0;
    margin-bottom: 80px;
}

#prizes .card{
    width: 100%;
    box-shadow: 0 0 25px rgba(255,255,255);
    overflow: hidden;
    border-radius: 15px;
    background: none;
}
#prizes .card:hover{
    transition: 0.5s;
    box-shadow: 0 0 10px rgba(0, 255, 238, 0.979);
}
#prizes .im1 img{
    height: 150px;
    background-position: center;
    object-fit:fill;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 20px;
    width: 100%;
}
#prizes .im2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    /* border: 7px solid blueviolet; */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-top: -20px;
}
#prizes .card:hover .im2 img{
    transform: scale(1.1);
    transition: 0.3s ease-in-out;
}

#prizes .main-text{
    padding: 10px 0;
    text-align: center;
}
#prizes .main-text h2{
    font-weight: 700;
    font-size: 1.5rem;
    margin: 0 0 10px;
}
#prizes .main-text p{
    font-size: 20px;
    padding: 0 35px;
}
#prizes .one .card{
    min-height: 550px;
}

.prizeCard_prizes {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    height: 200px;
}

.prizeCard_prizes li{
    margin-bottom: 8px;
    display: list-item;
    text-align: -webkit-match-parent;
}
.main-texts{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.main-texts h2{
    text-transform: uppercase;
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}
.main-texts{
    font-size: 18px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 400;
    line-height: 1.43;
    letter-spacing: 0.01071em;
    color: rgba(0, 0, 0, 0.54);
}
