*{
    box-sizing: border-box;
}

.sponsors-img{padding-right: 2vw;}

.sponsors{
    margin: 30px 0;
}

.spons-img{
    width: 100%;
}

.row{
    margin: 0.7vw 0;
}

.spons-row{
    padding: 0;
    margin: 1vw 0;
}

.spons-g{
    height: 25px;
    display:flex;
    align-items: center;
}

.spons-s{
    height: 100%;
    display:flex;
    align-items: center;
}

.spons-row-img{
    height: 100%;
    object-fit: contain;
}

.row-g, .row-s{margin: 2vw 0;}

.row-1{height: 29px;}

.row-2{height: 37px;}

.row-3{height: 37px;}

.row-4{height: 37px;}

.row-5{height: 35px;}

.gold-title , .silver-title {
    font-size: 25px;
    color: grey;
}

@media only screen and (max-width: 1200px) {
    .row-2{height: 33px;}

    .row-3{height: 33px;}
}

@media only screen and (max-width: 992px) {
    .row-1{height: 22px;}

    .row-2{height: 26px;}

    .row-3{height: 24px;}

    .row-4{height: 32px;}

    .row-5{height: 26px;}

    .spons-g{ height: 22px; }
}