*{
    box-sizing: border-box;
}

.sponsors-img{padding-right: 2vw;}

.sponsors{
    margin: 30px 0;
}

.spons-img{
    width: 100%;
}

.row{
    margin: 0.7vw 0;
    justify-content: center;
}

.spons-row{
    padding: 0;
    margin: 2.5vw 0;
    justify-content: center;
}

.spons-g{
    height: 35px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.spons-s{
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}

.spons-row-img{
    height: 100%;
    object-fit: contain;
}
.row-g, .row-s{margin: 4vw 0;}

.row-1{height: 40px;}

.row-2{height: 45px;}

.row-3{height: 50px;}

.row-4{height: 60px;}


.gold-title , .silver-title {
    font-size: 40px;
    color: grey;
    text-align: center;
}

@media only screen and (max-width: 1200px) {
    .row-2{height: 23px;}

    .row-3{height: 33px;}
}

@media only screen and (max-width: 992px) {
    .row-1{height: 20px;}

    .row-2{height: 25px;}

    .row-3{height: 24px;}

    .row-4{height: 30px;}

    .spons-g{ height: 22px; }
    .gold-title,.silver-title{
        font-size:30px;
    }
    .spons-row{
        justify-content: space-around;
    }
}