@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap');

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.event-page{
    width: 100%;
    height: 100%;
    padding: 2vw 1.5vw;
}

.event-heading{
    font-size: 2.5vw;
    font-family: 'Balsamiq Sans', cursive;
    margin-bottom: 2vw;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.event-card{
    width: 23vw;
    height: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
    padding: 1vw;
    border-radius: 15px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.25);
    transition: 0.3s;
    margin: 0.5vw;
    cursor: pointer;
}

.event-card:hover{
    transform: scale(1.04);
    box-shadow: 1px 1px 7px 1px rgba(0, 0, 0, 0.15);
}

.event-card .image{
    width: 150px;
    height: 150px;
    border-radius: 100%;
    background-color: chartreuse;
}

.event-card .date{
    font-weight: 200;
}

.event-card .title{
    font-weight: 600;
    margin: 0.5vw;
    font-size: 19px;
}

.event-card .description{
    font-size: 21px;
    font-weight: 350;
    color:rgba(0, 0, 0, 0.7);
    margin: 0.5vw;
}

.event-card .modal{
    position: absolute;
    top: -3vw;
    right: -2vw;
    padding: 1vw;
    border: 1px solid rgba(0, 0, 0, 0.2);
    background-color: white;
    border-radius: 5px;
}
