body{
    background: #fff;
}
#heading{
    text-align: center;
}
/* .container{
    max-width: 85%;
} */

.profile-area{
    padding: 50px 0;
    margin-bottom: 80px;
}
.card{
    width: 100%;
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 15px;
    transition: 0.2s;
}
.card:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.img1 img{
    height: 175px;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    width: 100%;
    /* opacity: 0.5; */
}
.img2 img{
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    width: 170px;
    height: 160px;
    border-radius: 50%;
    border: 7px solid #fff;
    margin-top: -80px;
}
.card:hover .img2 img{
    border-color: darkcyan;
    transition: .3s ease-in-out;
}
.main-text{
    padding: 10px 0;
    text-align: center;
}

.main-text h2{
    text-transform: uppercase;
    font-weight: 900;
    font-size: 25px;
    margin: 0 0 10px;
}

.main-text p{
    font-size: 20px;
    padding: 0 35px;
}

.socials{
    text-align: center;
    padding-bottom: 20px;
}
.socials i{
    font-size: 20px;
    color: darkcyan;
    padding: 0 10px;
}